<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/inner-labyrinth/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/inner-labyrinth/">Home</a></li>
		        	<li><a href="/inner-labyrinth/about">About</a></li>
	        		<li><a href="/inner-labyrinth/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:catherine.crandall.lcsw@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
